.App {
  position: relative;
}

.mainPage-wrapper {
  margin: 0 100px 0 100px;
  margin-top: 51px;
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
}
.midTable {
  margin: 106px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.blocks-wrapper {
  width: 100%;
}

@media (max-width: 1000px) {
  .mainPage-wrapper {
    margin: 0 0px 0 0px;
  }
  .login-page-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
